#article-conway {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#table-conway {
	border-collapse: collapse;
	margin: 0 auto;
	box-sizing: border-box;
}

#form-conway {
	margin-bottom: 20px;
}

#table-conway td{
	border: solid 1px #DDD;
	width: 5px;
	height: 5px;
	padding: 0;
}

input{
	border: solid 1px silver;
	height: 30px;
}